
<h1><%= @user.username %></h1>

<p>Hi <%= @user.body %>, you are currently logged in</p>

<!-- create a list of all a user's events -->
<ul>
  <% @user.events.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<ul>
  <li>add functions to edit, and destroy users</li>
</ul>