<h1>Site Index</h1>

<h2>Create an Event</h2>
<ul>
  </li><%= link_to "create new event", new_event_path %></li>
</ul>


<h2>What's happening soon?</h2>
<!-- create a list of all events -->
<ul>
  <% @events.upcoming.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<h2>Past Events</h2>
<!-- create a list of all events -->
<ul>
  <% @events.previous.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ul>

<h2>Options</h2>
<ul>
  <li>add functions to edit, and destroy users</li>
</ul>
